@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    background-color: #ff0052;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

a {
    color: white;
    background-color: transparent;
}

header {
    position: relative;
    background-image: url(/assets/img/branding/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 20px 5px black;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    background: transparent;
}

.nav-a {
    margin: 20px;
    text-decoration: none;
    background: white;
    font-size: 30px;
    padding: 15px;
    /* background: -webkit-linear-gradient(0deg, #e90000 0%, #ff7700 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: rgba(255, 255, 255, 0.76);
    font-family: 'Amatic SC', cursive;
    font-weight: 700;

}

.div-logo {
    background: transparent;
}

.logo {
    width: 120px;
    background: transparent;
}

/* BARRE DE RECHERCHE BANNIERE */

.div-banniere {
    position: relative;
    display: flex;
    justify-content: center;
    /* background-image: url(/assets/img/branding/pexels-ricardo-rojas-3642030.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}

#video-asie {
    width: 100%;
    height: unset;
    object-fit: cover;
}


/* #searchBar {
    position: absolute;
    top: 45%;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.661);
    padding: 5px;
    text-align: center;
    font-size: 25px;
    width: 514px;
    height: 37px;
    flex-shrink: 0;
    color: #000000;
    font-weight: 700;
} */


#searchBar::placeholder {
    color: rgb(255, 0, 0);
    font-size: 25px;
}

/* BODY  CATEGORIE */

.categorie-title {
    text-align: center;
    font-size: 45px;
    color: white;
    text-decoration: underline;
    margin-top: 25px;
}

.all-categories {
    display: flex;
    margin-top: 5px;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ARTICLE */

.div-text-categorie {
    margin-left: 15px;
    border-radius: 10px;
}

.categorie {
    display: flex;
    width: 635px;
    border: 2px dashed white;
    /* <--- A ENLEVER */
    margin: 25px;
}

.menu-categorie-title {
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.categorie-text {
    font-weight: 600;
    font-size: 25px;
    color: white;
}


/* BOUTON PREC/SUIVANT */

.div-btn {
    display: flex;
    justify-content: space-evenly;
}

.btn-categorie {
    font-size: 25px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 700;
    transition: .2s ease-in-out;
}

.btn-categorie:hover {
    color: #ff0052;
    font-weight: 700;
    background-color: white;
}

/* BOUTON AJOUTER AU PANIER */

#addProduct {
    float: right;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    background-color: #ff0052;
    transition: ease-in-out .2s;
    bottom: 0;
}

#addProduct:hover {
    background-color: white;
    color: #ff0052;
    cursor: pointer;
}

/* FOOTER */

.social-media {
    position: relative;
    margin-top: 25px;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-logo {
    width: 50px;
    margin: 25px;
}

.social-logo:hover {
    transform: scale(1.1);
}

/* ///////////////////////////////////////// */
/* PAGE CATEGORIE ASIATIQUE */

.text-deco {
    text-decoration: underline;
}